@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400&family=Roboto:wght@300;400;500;700&display=swap');

/* base */
:root {
    /* #F0BE0C */
    --primary-color: cyan; 
    --white-color: #F2F2F2;
    --navbar-text-color: #929292;
    --background-color: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;    
    line-height: 1.6rem; 
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: 'Kodchasan', sans-serif, 'Roboto';
    display: flex;
    flex-direction: column;
}

/* style */

header {
    display: block;
    position: relative;
}

.header-background {
    padding-top: 38%;
    background-image: url(https://static1.srcdn.com/wordpress/wp-content/uploads/2023/02/iron-man-3-tony-stark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.2);
    width: 100%;
}

/* navbar header */
nav {
    background-color: rgba(0, 0, 0, 0.3);
    height: 15%;
    width: 100%;
    position: absolute;
    top: 0;
    /* left: 0; */
    display: flex;
}

.navbar {
    filter: opacity(100%);
}

nav.fixed {
    position: fixed;
    z-index: 1000;
    /* top: 0; */
    /* margin: auto; */
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 100px;
    /* padding: 0 20px; */
}

.navbar-brand {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    transition: 0.4s;
    margin-left: 100px;
}

.navbar-brand:hover {
    text-shadow: 0 2px 4px rgb(34, 206, 206);
}

.nav-list {
    list-style: none;
}

.nav-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.55);
    margin-left: 50px;
    font-weight: 600;
    position: relative;
}

.nav-item__link:hover {
    color: #c7cdcd;
}

.nav-item__link::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(0, 192, 192);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-item__link:hover::after {
    width: 100%;
}


.nav-item__link-sort {
    position: absolute;
    top: 3px; 
    right: -10px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.55);;
}

.nav-item__menu:hover:not(.active) .nav-menu {
    color: #BDC2C2;
    display: block;
}

.nav-item__menu {
    position: relative;
}

.nav-menu {
    position: absolute;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    top: 32px;
    left: 40px;
    width: 180px;
    display: none;
}

.nav-menu::before { /* tao cau noi */
    content: "";
    display: block;
    position: absolute;
    width: 65%;
    height: 20px;
    /* background-color: red;    */
    left: 0;
    top: -15px;
}

.nav-menu-item {
    padding: 5px 20px;
}

.nav-menu-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.nav-menu-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.nav-menu-item:active {
    background-color: #0d6efd;
}

.nav-menu-item a {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #FFFFFF;
}

.icon {
    font-size: 2.8rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
    position: absolute;
    right: 40px;
    -webkit-tap-highlight-color: transparent;
}

.nav-mobile {
    display: none;
}

/* breakpoints */
@media (max-width: 1239px) {
    .header-background {
        padding-top: 60%;
    }
    .nav-item__link{
        font-size: 1.2rem;
    }
}

@media (max-width: 1023px) {
    .header-background {
        padding-top: 70%;
    }
    .navbar-brand {
        margin-left: 0;
        -webkit-tap-highlight-color: transparent;
    }
    
    .nav-menu{
        display: none;
    }

    #checkbtn:checked ~ .nav-list {
        display: flex;
    }

    .nav-list {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        height: 26rem;
        animation: navmobile linear 0.3s;
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .icon {
        display: inline-flex;
        padding: 5px;
        border-radius: 3px;
        color: #BDC2C2;
        list-style: none;
    }
    
    .nav-item__link:hover::after {
        display: none;
    }
    .nav-item{
        margin: 25px 0;
        
    }
    .nav-item__link {
        color: #BDC2C2;
        font-size: 1.4rem;
        line-height: 1rem;
        padding: 150px 0;
        text-align: center;
    }
    .nav-item__link-sort {
        position: absolute;
        top: 150px;
    }   
    .btn-menu {
        border: 1px solid #BDC2C2;
        text-align: center;
        width: 50px;
    }
}

@media (max-width: 739px) {
    .header-background {
        padding-top: 80%;
    }
    .navbar-brand {
        margin-left: 50px;
    }
}

@media (max-width: 500px) {
    .header-background {
        padding-top: 100%;
    } 
}

/* middle header */
.middle {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.middle__present {
    font-size: 3.6rem;
    font-weight: 400;
    margin: 30px 0;
}

.middle__quote {
    font-size: 2.6rem;
    font-style: italic;
    margin-bottom: 40px;
    text-align: center;
}

.middle__search {
    width: 600px;
    height: 40px;
    outline: none;
    background-color: var(--background-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}


@media (max-width: 1023px) {
    .middle {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
    .middle__present {
        font-size: 3rem;
        text-align: center
    }
    .middle__quote {
        font-size: 2rem;
    }
    .middle__search {
        width: 500px;
        height: 35px;
    }
}

@media (max-width: 739px) {
    .middle {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
    .middle__present {
        font-size: 2.6rem;
        text-align: center
    }
    .middle__quote {
        font-size: 1.8rem;
    }
    .middle__search {
        width: 500px;
        height: 35px;
    }
}

@media (max-width: 500px) {
    .middle {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
    .middle__present {
        font-size: 2rem;
        text-align: center
    }
    .middle__quote {
        font-size: 1.6rem;
        margin-bottom: 25px;
    }
    .middle__search {
        width: 400px;
        height: 32  px;
    }
}

/* container */
.container {
    min-height: 100vh;
    display: block;
}

.container__wrap {
    position: relative;
    margin-bottom: 150px;
}

.type {
    position: relative;
    text-align: center;
    padding-top: 70px;
}

.type__title {
    color: var(--primary-color);
    font-size: 3.6rem;
    font-weight: 400;
    margin: 0 0 13px 0;
}

.type__description {
    color: var(--white-color);
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 0 0 25px 0;
}

.type__line {
    margin: 0 auto 30px;
    width: 60%;
    background: linear-gradient(90deg, rgb(0, 255, 255), rgb(255, 255, 3)),rgb(255, 191, 0);
    transform: scale(1);
    height: 1px;
    filter: saturate(500%);
    opacity: 0.3;
}

/* film */
.film {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px; 
    transition: transform linear 0.1s;
    will-change: transform;
}

.film:hover {
    transform: translateY(-2px);
}

.film__img-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.film__name {
    text-align: center;
    font-size: 1.9rem;
    margin: 20px 0 17px 0;
    color: var(--primary-color);
    font-weight: 500;

    /* limit word-long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.film__year {
    text-align: center;
    font-size: 1.4rem;
}

.btn {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 1.4rem;
}

.btn.watch {
    margin: 15px auto 0;
    height: 36px;
    width: 107px;
}

.btn.watch:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(34, 206, 206);
}

.btn.more {
    margin: 30px auto 0;
    height: 40px;
    width: 120px;
    font-size: 1.6rem;
    position: absolute;
    left: 50%;
    top: 103%;
    transform: translate(-50%, -50%);
}

.btn.more:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
    cursor: pointer;    
    box-shadow: 0 3px 6px rgb(34, 206, 206);
}

@media (max-width: 1023px) {
    .film {
        padding-top: 20px;
    }
}

/* footer */
footer {
    background: var(--background-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #CCCCCC;
    padding: 15px;
}